<div>
    <div class="col-sm-12" *ngFor="let item of blogs; let i = index">
        <a class="mn-title" [routerLink]="[ '/blog/' + (i + 1) ]">{{item.title}}</a>
        <p class="text-right"><small>{{item.createdOnDate}}</small></p>
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
                <img class="img-responsive mn-image" src="{{item.thumbnail}}"/>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">
                <p>{{item.summary}}</p>
            </div>
        </div>
        <hr>
    </div>
</div>
