<div id="blog" class="row">
    <div class="col-sm-8 col-md-9">
        <div class="col-sm-12" *ngFor="let item of blogs">
            <a class="mn-title" href="#">{{item.title}}</a>
            <p class="text-right"><small>{{item.createdOnDate}}</small></p>
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2 hidden-xs">
                    <img class="img-responsive mn-image" src="{{item.thumbnail}}"/>
                </div>
                <div class="col-sm-8 col-md-9 col-lg-10">
                    <p>{{item.summary}}</p>
                </div>
            </div>

            <hr>
        </div>
    </div>

    <div class="col-sm-4 col-md-3 hidden-xs">
        <mn-panel [title]="'POPULAR POSTS'" [contents]="blogs"></mn-panel>
    </div>
</div>

